<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a routerLink="/" routerLinkActive="active">หน้าหลัก</a>
        </li>
    </ul>
    <!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
        </form>
    </div>
    <!-- /.nav-search -->
</div>
<br />
<div class="row">
    <div class="col-md-12 infobox-container">
        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-desktop"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">{{models2|sums:'numst'}} ชิ้น</span>
                <div class="infobox-content">ครุภัณฑ์ทั้งหมด</div>
            </div>

        </div>

        <div class="infobox infobox-blue">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-twitter"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">{{models|sums:'a'}} ชิ้น</span>
                <div class="infobox-content">ครุภัณฑ์ที่เบิก</div>
            </div>

        </div>

        <div class="infobox infobox-pink">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-shopping-cart"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">8 ชิ้น</span>
                <div class="infobox-content">ครุภัณฑ์คงเหลือ</div>
            </div>
        </div>

        <div class="infobox infobox-red">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-wrench"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">7 ชิ้น</span>
                <div class="infobox-content">ครุภัณฑ์แจ้งซ่อม</div>
            </div>
        </div>

        <div class="infobox infobox-orange">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-check-circle"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">7 ชิ้น</span>
                <div class="infobox-content">ครุภัณฑ์ซ่อมสำเร็จ</div>
            </div>
        </div>
        <div class="infobox infobox-blue2">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-money"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">6,251 บาท</span>
                <div class="infobox-content">ราคาสินทรัพย์</div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br />
    <div class="col-md-8">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" id="myTab3">
                <li class="active">
                    <a data-toggle="tab" href="#home3" aria-expanded="true">
                        <i class="badge badge-info">{{models2|sums:'numst'}}</i> ครุภัณฑ์ทั้งหมด
                    </a>
                </li>

                <li class="">
                    <a data-toggle="tab" href="#profile3" aria-expanded="false">
                        <i class="badge badge-info">{{models1|sums:'a'}}</i> ประเภทครุภัณฑ์
                    </a>
                </li>

                <li class="">
                    <a data-toggle="tab" href="#dropdown13" aria-expanded="false">
                        <i class="badge badge-info">{{models3|sums:'a'}}</i> ชนิดครุภัณฑ์
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="home3" class="tab-pane active">
                    <div class="widget-box ui-sortable-handle" id="widget-box-4">
                        <div class="widget-header widget-header-large">
                            <h4 class="widget-title">ครุภัณฑ์ทั้งหมด : {{models2|sums:'numst'}} ชิ้น</h4>

                            <div class="widget-toolbar">

                            </div>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <p-dataTable [value]="models2" [rows]="10" [rowsPerPageOptions]="[10,50,100,200,300]" [paginator]="true" [globalFilter]="gb" #dt>

                                    <p-column field="MATIRALCODE_FULL" header="รหัสครุภัณฑ์" [sortable]="true" [style]="{'width':'120px','text-align':'center'}"></p-column>
                                    <p-column field="MATIRALNAME" header="ชื่อครุภัณฑ์" [sortable]="true"></p-column>
                                    <p-column field="date_age" header="อายุการใช้งาน" [sortable]="true" [style]="{'width':'60px','text-align':'center'}"></p-column>
                                    <p-column field="a" header="จำนวนซ่อม" [sortable]="true" [style]="{'width':'60px','text-align':'center'}"></p-column>
                                    <p-column header="สถานะการเบิก" [sortable]="true" [style]="{'width':'60px','text-align':'center'}">
                                        <template let-item="rowData" let-rowIndex="rowIndex" pTemplate="body">
                                <i class="fa fa-check-circle-o fa-2x text-success" aria-hidden="true" *ngIf="item.ream==2" tooltipPosition="top" pTooltip="มีการเบิกแล้ว"></i>
                                                            </template>
                                    </p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="profile3" class="tab-pane">
                    <div class="widget-box ui-sortable-handle" id="widget-box-4">
                        <div class="widget-header widget-header-large">
                            <h4 class="widget-title">ประเภทครุภัณฑ์ : {{models1|sums:'a'}} ชนิด</h4>

                            <div class="widget-toolbar">

                            </div>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <p-dataTable [value]="models1" [rows]="10" [rowsPerPageOptions]="[10,50,100,200,300]" [paginator]="true" [globalFilter]="gb" #dt>

                                    <p-column field="GROUPCODE" header="รหัสประเภท" [sortable]="true" [style]="{'width':'120px','text-align':'center'}"></p-column>
                                    <p-column field="GROUPNAME" header="ชื่อประเภทครุภัณฑ์" [sortable]="true"></p-column>
                                    <p-column field="a" header="จำนวน" [sortable]="true" [style]="{'width':'60px','text-align':'center'}"></p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="dropdown13" class="tab-pane">
                    <div class="widget-box ui-sortable-handle" id="widget-box-4">
                        <div class="widget-header widget-header-large">
                            <h4 class="widget-title">ชนิดครุภัณฑ์ : {{models3|sums:'a'}} ชนิด</h4>

                            <div class="widget-toolbar">

                            </div>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <p-dataTable [value]="models3" [rows]="10" [rowsPerPageOptions]="[10,50,100,200,300]" [paginator]="true" [globalFilter]="gb" #dt>

                                    <p-column field="TYPECODE_FULL" header="รหัสชนิด" [sortable]="true" [style]="{'width':'120px','text-align':'center'}"></p-column>
                                    <p-column field="TYPENAME" header="ชื่อชนิดครุภัณฑ์" [sortable]="true"></p-column>
                                    <p-column field="a" header="จำนวน" [sortable]="true" [style]="{'width':'60px','text-align':'center'}"></p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-4">
        <div class="widget-box ui-sortable-handle" id="widget-box-4">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">ครุภัณฑ์ฝ่าย/กลุ่มงาน : {{models|sums:'a'}} ชิ้น</h4>

                <div class="widget-toolbar">

                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <p-dataTable [value]="models" [rows]="30" [rowsPerPageOptions]="[10,50,100,200,300]" [paginator]="true" [globalFilter]="gb" #dt>

                        <p-column field="groupcodessj" header="รหัสฝ่าย" [sortable]="true" [style]="{'width':'60px','text-align':'center'}"></p-column>
                        <p-column field="groupnamessj" header="ชื่อฝ่าย/กลุ่มงาน" [sortable]="true"></p-column>
                        <p-column field="a" header="จำนวนเครื่อง" [sortable]="true" [style]="{'width':'60px','text-align':'center'}"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>

    </div>
</div>