<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a routerLink="/" routerLinkActive="active">หน้าหลัก</a>
        </li>
        <li class="active">เพิ่มข้อมูลย้ายภายใน สสจ.</li>
    </ul>
    <!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
        </form>
    </div>
    <!-- /.nav-search -->
</div>
<br />
<p-messages [value]="msgs"></p-messages>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h3 class="header smaller lighter blue"><i class="fa fa-user-circle-o text-success" aria-hidden="true"></i> ข้อมูลบุคลากรเดิม</h3>
        <form class="form-horizontal" role="form" (ngSubmit)="save();">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">รหัสบุคลากร</label>

                <div class="col-sm-9">
                    <span class="input-icon">
                              	<input type="text" [(ngModel)]="model.pid" id="pid" name="pid" disabled>
											</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">เลขประจำตัว 13 หลัก</label>

                <div class="col-sm-9">
                    <span class="input-icon">
                              	<input type="text" [(ngModel)]="model.cid" id="cid" name="cid" disabled>
											</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">ชื่อ - นามสกุล</label>

                <div class="col-sm-9">
                    <span class="input-icon">
                              	<input type="text" [(ngModel)]="model.fullname" id="fullname" name="fullname"  disabled>
											</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">สถานบริการปัจบัน</label>

                <div class="col-sm-9">
                    <span class="input-icon">
                              		<select class="form-control" [(ngModel)]="model.hcode" id="hcode" name="hcode"  disabled>
                                                    <option *ngFor="let item of models3;let i=index;" value="{{item.hcode}}">{{item.hcode}} - {{item.hname}}</option>
                                                </select>
											</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">กลุ่มงาน / ฝ่ายเดิม</label>

                <div class="col-sm-9">
                    <span class="input-icon">
                              		<select class="form-control" [(ngModel)]="model.workgroup" id="workgroup" name="workgroup" disabled>
                                                    <option *ngFor="let item of models4;let i=index;" value="{{item.id}}">{{item.id}} - {{item.workgroup}}</option>
                    </select>
                    </span>
                </div>
            </div>
            <h3 class="header smaller lighter blue"><i class="fa fa-exchange text-danger" aria-hidden="true"></i> ข้อมูลการขอย้าย</h3>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">กลุ่มงาน / ฝ่าย ***</label>

                <div class="col-sm-9">
                    <span class="input-icon">
                              		<select class="form-control" [(ngModel)]="model.groupssj" id="groupssj" name="groupssj" disabled="{{!model.hcode}}" required>
<option *ngFor="let item of models4;let i=index;" value="{{item.id}}">{{item.id}} - {{item.workgroup}}</option>
                    </select>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">เหตุผลการขอย้าย</label>

                <div class="col-sm-9">
                    <span class="input-icon">
                               <textarea class="form-control" [(ngModel)]="model.hp" id="hp" name="hp" rows="3" cols="45" disabled="{{!model.groupssj}}" required></textarea>
											</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">ปี ***</label>

                <div class="col-sm-9">
                    <span class="input-icon">
                              		<select class="form-control" [(ngModel)]="model.years" id="years" name="years" disabled="{{!model.groupssj}}" required>
                                                    <option *ngFor="let item of datayears;let i=index;" value="{{item.years}}">{{item.years}}</option>
                    </select>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">รอบการย้าย ***</label>

                <div class="col-sm-9">
                    <span class="input-icon">
                              		<select class="form-control" [(ngModel)]="model.hit" id="hit" name="hit" disabled="{{!model.groupssj}}" required>
                                                    <option *ngFor="let item of datahit;let i=index;" value="{{item.hit}}" >{{item.hit}}</option>
                    </select>
                    </span>
                </div>
            </div>
            <button class="btn btn-primary btn-block" [disabled]="!model.groupssj"><i class="fa fa-floppy-o"></i> บันทึกข้อมูล</button>
        </form>
    </div>
    <div class="col-md-3">
        <table class="table table-hover">
            <tr>
                <td>
                    <input class="form-control" placeholder="ค้นหารายชื่อ" type="text" (keyup)="getsc($event)">
                </td>
            </tr>
            <tr>
                <td>
                    <h5 *ngFor="let item of models1;let i=index;"><a href="javascript:void(0);" (click)="editshow(item)" pTooltip="{{item.hname}}"> {{i+1}}.{{item.fullname}} </a></h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
<h3 class="header smaller lighter blue"></h3>
<div class="row">
    <div class="col-md-12">
        <div class="widget-box ui-sortable-handle" id="widget-box-4">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title"><i class="fa fa-reorder" aria-hidden="true"></i> รายการขอย้าย</h4>

                <div class="widget-toolbar">

                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <p-confirmDialog width="425"></p-confirmDialog>
                    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input #gb type="text" pInputText size="50" placeholder="ค้นหา">
                        <button type="button" class="btn btn-sm btn-warning pull-right" pButton icon="fa-file-o" iconPos="left" label="export" (click)="dt.exportCSV()" style="float:left"></button>
                    </div>
                    <p-dataTable [value]="models5" [rows]="10" [rowsPerPageOptions]="[10,50,100,200,300]" [paginator]="true" [globalFilter]="gb" #dt>
                        <p-column header="ลำดับ" [style]="{'width':'60px','text-align':'center'}">
                            <template let-col let-rowData="rowData" let-rowIndex="rowIndex" pTemplate="body">
                    {{rowIndex+1}}   
              </template>
                        </p-column>
                        <p-column header="รูปภาพ" [style]="{'width':'80px','text-align':'center'}">
                            <template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
 <img src="http://164.115.22.73/p/pis-v4/images/img/{{car.img}}" class="siimg img-thumbnail" />
        </template>
                        </p-column>
                        <p-column field="y_name" header="ประเภทบุคลากร" [sortable]="true" [style]="{'width':'60px','text-align':'center'}"></p-column>
                        <p-column field="fullname" header="ชื่อ - นามสกุล" [sortable]="true"></p-column>
                        <p-column field="position" header="ตำแหน่ง" [sortable]="true">
                            <template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
{{car.position}} {{car.name_lv}}
        </template>
                        </p-column>
                        <p-column field="workgroup_n1" header="กลุ่มงาน / ฝ่ายเดิม" [sortable]="true"></p-column>
                        <p-column field="workgroup_n" header="กลุ่มงาน / ฝ่ายใหม่" [sortable]="true"></p-column>
                        <p-column field="hp" header="เหตุผลการขอย้าย" [sortable]="true"></p-column>
                        <p-column field="position" header="เอกสาร" [style]="{'width':'60px','text-align':'center'}">
                            <template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">

                 <a href="http://164.115.22.73/p/ponapiyii/images/doc/{{car.filepdf}}" target="_blank" *ngIf="car.filepdf!=''">
              <i class="fa fa-file-pdf-o fa-2x text-danger" aria-hidden="true"></i>
                                            </a>
        </template>
                        </p-column>
                        <p-column field="d_update" header="วันที่บันทึก" [sortable]="true" [style]="{'width':'100px','text-align':'center'}"></p-column>
                        <p-column styleClass="col-button" header="ตัวเลือก" [style]="{'width':'120px','text-align':'center'}">
                            <template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
                 <a href="" aria-hidden="true" tooltipPosition="top" pTooltip="อัพโหลดเอกสาร" data-toggle="modal" data-target="#myModal" (click)="editimg(car);">
                <i class="ace-icon fa fa-cloud-upload fa-2x"></i> |
                    </a>
                                  <a href="javascript:void(0);" tooltipPosition="top" (click)="delete(car)" pTooltip="ลบข้อมูล">
                <i class="ace-icon fa fa-trash-o fa-2x text-danger"></i> |
                    </a>
                    <a href="" tooltipPosition="top" data-toggle="modal" (click)="edit(car)" pTooltip="แก้ไขข้อมูล">
                <i class="ace-icon fa fa-pencil-square-o fa-2x text-success"></i>
                    </a>
        </template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="fghty789" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{hnameimg}}</h4>
            </div>
            <div class="modal-body">
                <p-fileUpload name="nfile" url="{{upurl}}" (onUpload)="onUpload($event,oidimg2)" multiple="multiple" accept="{{tyimg}}" maxFileSize="2000000" auto="auto">
                    <template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} {{file.type}}]bytes</li>
        </ul>
        <label class="txred"><h5>หมายเหตุ:<br /><br />1.การอัพโหลดรูปภาพควรตั้งชื่อให้สอดคล้องกับข้อมูล <br /><br />2.ไฟล์ควรเป็น<b><u>.pdf</u></b> <br /><br />3.ไฟล์ไม่เกิน 2 MB <br /><br />4.อัพได้แค่ 1 ไฟล์เท่านั้น</h5></label>
    </template>
                </p-fileUpload>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>