<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="ค้นหา">
    <!--<button type="button" class="btn btn-sm btn-warning pull-right" pButton icon="fa-file-o" iconPos="left" label="export" (click)="dt.exportCSV()" style="float:left"></button>-->
</div>
<p-dataTable [value]="models" [rows]="10" [rowsPerPageOptions]="[10,50,100,200,300]" [paginator]="true" [globalFilter]="gb" #dt>
    <p-column header="ลำดับ" [style]="{'width':'60px','text-align':'center'}">
        <template let-col let-rowData="rowData" let-rowIndex="rowIndex" pTemplate="body">
              {{rowIndex+1}}   
        </template>
    </p-column>
    <p-column field="START_DATE" styleClass="col-button" header="วันที่/เวลา" [style]="{'width':'150px','text-align':'center'}">
        <template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
{{car.dateon}}<br />{{car.timeon}} น.
        </template>
    </p-column>
    <p-column field="namelist" header="เรื่องประชุมชี้แจ้ง" [sortable]="true">
        <template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
{{car.namelist}} 
<span class="badge colb" tooltipPosition="top"  pTooltip="วันนี้" *ngIf="car.news=='N1'">วันนี้</span> 
<i class="fa fa-folder-open-o text-success" tooltipPosition="top"  pTooltip="ทั่วไป" *ngIf="car.stroom==1" ></i> 
<i class="fa fa-lock text-danger" tooltipPosition="top"  pTooltip="จำกัดสิทธิ" *ngIf="car.stroom==2"></i>
        </template>
    </p-column>
    <p-column field="n_groupssj" header="ฝ่ายผู้จัดประชุม" [sortable]="true" [style]="{'width':'150px','text-align':'center'}"></p-column>
    <p-column styleClass="col-button" header="URL" [style]="{'width':'60px','text-align':'center'}">
        <template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
<a href="{{car.urlroom}}" target="_blank" *ngIf="car.styh==1&&car.stroom==1" tooltipPosition="top"  pTooltip="Youtube"> <i class="ace-icon fa fa-youtube-play fa-2x text-danger"></i> </a>
<a href="{{car.urlroom}}" target="_blank" *ngIf="car.styh==2&&car.stroom==1" tooltipPosition="top"  pTooltip="Hangouts"> <i class="ace-icon fa fa-video-camera fa-2x text-success"></i> </a>

<a href="javascript:void(0);" (click)="getlock()"  *ngIf="car.styh==1&&car.stroom==2" tooltipPosition="top"  pTooltip="Youtube"> <i class="ace-icon fa fa-youtube-play fa-2x text-danger"></i> </a>
<a href="javascript:void(0);" (click)="getlock()"  *ngIf="car.styh==2&&car.stroom==2" tooltipPosition="top"  pTooltip="Hangouts"> <i class="ace-icon fa fa-video-camera fa-2x text-success"></i> </a>
        </template>
    </p-column>
</p-dataTable>