<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="header smaller lighter red center">ยินดีต้อนรับ : คุณ {{fullname}} เข้าสู่ห้องประชุมออนไลน์ </h2>

        <br /><br />


        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <a [href]="yurl" target="_blank" class="btn btn-success" align="center"><i class="ace-icon fa fa-video-camera"></i> เข้าร่วมแฮงเอาท์</a>
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>