<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a routerLink="/" routerLinkActive="active">หน้าหลัก</a>
        </li>
        <li class="active">เพิ่ม/แก้รายชื่อบุคลากร</li>
    </ul>
    <!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
        </form>
    </div>
    <!-- /.nav-search -->
</div>
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="widget-box ui-sortable-handle" id="widget-box-4">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title"><i class="fa fa-user-circle-o"></i> รายชื่อบุคลากร สำนักงานสาธารณสุขชัยภูมิ</h4>

                <div class="widget-toolbar">

                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <p-messages [value]="msgs"></p-messages>
                    <p-confirmDialog width="425"></p-confirmDialog>
                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal" (click)="add()"><i class="fa fa-user-plus"></i> เพิ่มบุคลากร</button>
                    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input #gb type="text" pInputText size="50" placeholder="ค้นหา">
                        <button type="button" class="btn btn-sm btn-warning pull-right" pButton icon="fa-file-o" iconPos="left" label="export" (click)="dt.exportCSV()" style="float:left"></button>
                    </div>
                    <p-dataTable [value]="models" [rows]="10" [rowsPerPageOptions]="[10,50,100,200,300]" [paginator]="true" [globalFilter]="gb" #dt>
                        <p-column header="ลำดับ" [sortable]="true" [style]="{'width':'60px','text-align':'center'}">
                            <template let-col let-rowData="rowData" let-rowIndex="rowIndex" pTemplate="body">
                    {{rowIndex+1}}   
              </template>
                        </p-column>
                        <p-column field="id" header="รหัส" [sortable]="true" [style]="{'width':'60px','text-align':'center'}"></p-column>
                        <p-column field="fullname" header="ชื่อ - นามสกุล" [sortable]="true"></p-column>
                        <p-column field="groupssj" header="กลุ่มงาน/ฝ่าย" [sortable]="true"></p-column>
                        <p-column field="st" header="สถานะ" [sortable]="true" [style]="{'width':'100px','text-align':'center'}"></p-column>
                        <p-column styleClass="col-button" header="ตัวเลือก" [style]="{'width':'120px','text-align':'center'}">
                            <template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
                    <a href="javascript:void(0);" *ngIf="car.del==1" (click)="geteditdel(2,car.id)" tooltipPosition="top" pTooltip="ปิด">
				<i class="ace-icon fa fa-eye fa-2x"></i>
                    </a>
                    <a href="javascript:void(0);" *ngIf="car.del==2" (click)="geteditdel(1,car.id)" tooltipPosition="top" pTooltip="เปิด">
                <i class="ace-icon fa fa-eye-slash fa-2x text-warning"></i>
                    </a>|
                                  <a href="javascript:void(0);" tooltipPosition="top"  data-target="#myModal" (click)="delete(car,rowIndex)" pTooltip="ลบข้อมูล">
                <i class="ace-icon fa fa-trash-o fa-2x text-danger"></i> |
                    </a>
                    <a href="" tooltipPosition="top" data-toggle="modal" data-target="#myModal" (click)="edit(car)" pTooltip="แก้ไขข้อมูล">
                <i class="ace-icon fa fa-pencil-square-o fa-2x text-success"></i>
                    </a>
        </template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>















    </div>
    <div class="col-md-1"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user-plus"></i> เพิ่มบุคลากร</h4>
            </div>
            <div class="modal-body">
                <p-messages [value]="msgs"></p-messages>
                <p-messages [value]="msgs2"></p-messages>
                <form class="form-horizontal" role="form" (ngSubmit)="save();">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">เลขบัตรประชาชน ***</label>

                        <div class="col-sm-9">
                            <span class="input-icon">
								<input type="text"  [(ngModel)]="model.cid" id="cid" name="cid" pTooltip="เลขบัตรประชาชน" (keyup)="getisnum($event)" maxlength="13" required>
											</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">ชื่อนามสกุล ***</label>

                        <div class="col-sm-9">
                            <span class="input-icon">
												<select class="form-control" [(ngModel)]="model.pname" id="pname" name="pname" pTooltip="คำนำหน้า" disabled="{{!model.cid}}"  required>
                                                    <option *ngFor="let item of datapname;let i=index;" value="{{item.pname}}">{{i+1}} - {{item.pname}}</option>
                                                </select>
											</span>
                            <span class="input-icon">
												<input type="text" [(ngModel)]="model.fname" id="fname" name="fname" pTooltip="ชื่อ" disabled="{{!model.pname}}" required>
											</span>

                            <span class="input-icon">
												<input type="text" [(ngModel)]="model.lname" id="lname" name="lname" pTooltip="นายสกุล" disabled="{{!model.fname}}" required>
											</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">กลุ่มงานฝ่าย ***</label>

                        <div class="col-sm-9">
                            <span class="input-icon">
													<select class="form-control" [(ngModel)]="model.c_groupssj" id="c_groupssj" name="c_groupssj" pTooltip="กลุ่มงานฝ่าย" disabled="{{!model.lname}}" required>
                                                    <option *ngFor="let item of models1" value="{{item.groupcodessj}}">{{item.groupcodessj}} - {{item.groupnamessj}}</option>
                                                </select>
											</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">สถานะ ***</label>

                        <div class="col-sm-9">
                            <span class="input-icon">
													<select class="form-control" [(ngModel)]="model.status" id="status" name="status" pTooltip="สถานะ" disabled="{{!model.c_groupssj}}" required>
                                                    <option *ngFor="let item of datastatus" value="{{item.id}}">{{item.id}} - {{item.nst}}</option>
                                                </select>
											</span>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block"><i class="fa fa-floppy-o"></i> บันทึกข้อมูล</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>