<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <div class="back" id="hideRight"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Back</div>
    <ul class="cbp-list">
        <li><a href=""><b>อนงค์ จันทวงค์</b></a></li>
        <li><a href="">แก้ไขข้อมูลส่วนตัว</a></li>
        <li class="separator"></li>
        <li><a href="">#Youlike</a></li>
        <li><a href="">ยอดฮิต</a></li>
        <li><a href="">18+</a></li>
        <li><a href="">เหตุการณ์</a></li>
        <li><a href="">ช่วยเหลือ</a></li>

        <li class="separator"></li>
        <li><a href="login/logout.html" id="logout-m">Logout</a></li>
    </ul>

</nav>