.coltr {
    background-color: #FFEB3B;
    font-weight: bolder;
}

.siimg {
    width: 60px;
    height: 60px;
}

.bisix {
    width: 50px;
}

.ckcol {
    background-color: #E0E0E0;
}

.trmw200 {
    min-width: 300px;
}