<div class="row">
    <div class="col-md-3">
        <a routerLink="/AddList" routerLinkActive="active" class="btn btn-primary btn-app radius-4">
            <i class="ace-icon fa fa-cog bigger-230"></i> เพิ่มผังประชุม
        </a>
    </div>
    <div class="col-md-3">
        <a routerLink="/ListRegister" routerLinkActive="active" class="btn btn-primary btn-app radius-4">
            <i class="ace-icon fa fa-cog bigger-230"></i> รายการลงทะเบียน
        </a>
    </div>
    <div class="col-md-3">
        <a routerLink="/ListRegisterOk" routerLinkActive="active" class="btn btn-primary btn-app radius-4">
            <i class="ace-icon fa fa-cog bigger-230"></i> รายการผู้อนุมัติ
        </a>
    </div>
    <div class="col-md-3">
        <a routerLink="/ListRegisterNo" routerLinkActive="active" class="btn btn-primary btn-app radius-4">
            <i class="ace-icon fa fa-cog bigger-230"></i> รายการผู้ไม่อนุมัติ
        </a>
    </div>
</div>
<br />
<hr>