<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div>
            <div class="widget-box ui-sortable-handle" id="widget-box-4">
                <div class="widget-header widget-header-large">
                    <h4 class="widget-title"><i class="fa fa-reorder" aria-hidden="true"></i> ห้องประชุมออนไลน์(จำกัดสิทธิ)</h4>

                    <div class="widget-toolbar">

                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input #gb type="text" pInputText size="50" placeholder="ค้นหา">
                            <!--<button type="button" class="btn btn-sm btn-warning pull-right" pButton icon="fa-file-o" iconPos="left" label="export" (click)="dt.exportCSV()" style="float:left"></button>-->
                        </div>
                        <p-dataTable [value]="models" [rows]="10" [rowsPerPageOptions]="[10,50,100,200,300]" [paginator]="true" [globalFilter]="gb" #dt>
                            <p-column header="ลำดับ" [style]="{'width':'60px','text-align':'center'}">
                                <template let-col let-rowData="rowData" let-rowIndex="rowIndex" pTemplate="body">
                    {{rowIndex+1}}   
              </template>
                            </p-column>
                            <p-column field="START_DATE" styleClass="col-button" header="วันที่/เวลา" [style]="{'width':'150px','text-align':'center'}">
                                <template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
{{car.START_DATE}}<br />{{car.START_TIME}} น.
        </template>
                            </p-column>
                            <p-column field="URLNAME" header="เรื่องประชุมชี้แจ้ง" [sortable]="true">
                                <template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
{{car.URLNAME}} <span class="badge badge-warning" tooltipPosition="top"  pTooltip="วันนี้" *ngIf="car.NEWS=='N1'">วันนี้</span> <i class="fa fa-folder-open-o text-success" tooltipPosition="top"  pTooltip="ทั่วไป" *ngIf="car.STATUSROOM==2" ></i> <i class="fa fa-lock text-danger" tooltipPosition="top"  pTooltip="จำกัดสิทธิ" *ngIf="car.STATUSROOM==1"></i>
        </template>
                            </p-column>
                            <p-column field="groupnamessj" header="ฝ่ายผู้จัดประชุม" [sortable]="true" [style]="{'width':'150px','text-align':'center'}"></p-column>
                            <p-column styleClass="col-button" header="URL" [style]="{'width':'60px','text-align':'center'}">
                                <template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
<a href="{{car.URL}}" target="_blank" *ngIf="car.STATUS==1&&car.STATUSROOM==2" tooltipPosition="top"  pTooltip="Youtube"> <i class="ace-icon fa fa-youtube-play fa-2x text-danger"></i> </a>
<a href="{{car.URL}}" target="_blank" *ngIf="car.STATUS==2&&car.STATUSROOM==2" tooltipPosition="top"  pTooltip="Hangouts"> <i class="ace-icon fa fa-video-camera fa-2x text-success"></i> </a>

<a href="javascript:void(0);" (click)="getlock(car)"  *ngIf="car.STATUS==1&&car.STATUSROOM==1" tooltipPosition="top"  pTooltip="Youtube"> <i class="ace-icon fa fa-youtube-play fa-2x text-danger"></i> </a>
<a href="javascript:void(0);" (click)="getlock(car)"  *ngIf="car.STATUS==2&&car.STATUSROOM==1" tooltipPosition="top"  pTooltip="Hangouts"> <i class="ace-icon fa fa-video-camera fa-2x text-success"></i> </a>
        </template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-1">

    </div>
</div>